body {
	overflow-x: hidden;
}

::-webkit-scrollbar{
	width: 15px;

}

::-webkit-scrollbar-track{
	background: #dddddd
}

::-webkit-scrollbar-thumb{
	background: rgb(161, 94, 94)
}

nav .Title{
	font-family: 'Source Code Pro', monospace;
	letter-spacing: 1px;

}

*{
	margin: 0;
	padding: 0;
}

/*Navbar*/
nav{
	display: flex;
	background-color: rgb(255, 255, 255);
	justify-content: space-around;
	/*padding: 10px 0;*/
	height: 39px;
	align-items: center;
	font-family: sans-serif;
}

nav ul{
	display: flex;
	list-style: none;
	width: 40%;
	justify-content:space-evenly;
}

nav ul li a{
	color: black;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}

nav ul li a:hover{
	color: rgb(160, 160, 160);
}

/* Burger Menu */
.menu-toggle{
	display: none;
	flex-direction: column;
	height: 16px;
	justify-content: space-between;
	position: relative;
}

.menu-toggle input{
	position: absolute;
	width: 40px;
	height:24px;
	left: -8px;
	top: -3px;
	opacity: 0;
	cursor: pointer;
	z-index: 2;

}

.menu-toggle span{
	display:block;
	width:24px;
	height:3px;
	background-color: black;
	border-radius: 40px;
	transition: all 1s;
}

/* Burger Animation */
.menu-toggle span:nth-child(2){
	transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
	transform-origin: 0 100%;
}


.menu-toggle input:checked ~ span:nth-child(2){
	background-color: rgb(0, 0, 0);
	transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
	background-color: rgb(0, 0, 0);
	transform: rotate(-45deg) translate(-1px,0px);
}

.menu-toggle input:checked ~ span:nth-child(3){
	opacity: 0;
	transform: scale(0);
}



/* Responsive Breakpoint */

/* Ukuran tablet */

@media screen and (max-width: 813px) {
	nav ul {
		width:70%;
	}
}

/* Ukuran HP */
@media screen and (max-width:576px) {
	.menu-toggle{
		display: flex;
	}
	nav ul{
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		height: 100vh;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		background-color: rgb(255, 255, 255);
		z-index: -1;
		transform: right(-100);
		transition: all 0.5s;
		opacity: 0;
	}

	nav ul.slide{
		opacity: 1;
		transform: right(100);
	}
}

H1{
	right:100px
}