body {
	overflow-x: hidden;
}

::-webkit-scrollbar{
	width: 10px;

}

::-webkit-scrollbar-track{
	background: #dddddd
}

::-webkit-scrollbar-thumb{
	background: rgb(161, 94, 94)
}

nav .Title{
	font-family: 'Source Code Pro', monospace;
	letter-spacing: 0px;
	
}

*{
	margin: 0;
	padding: 0;
}

/*Navbar*/
nav{
	display: flex;
	background-color: rgb(255, 255, 255);
	justify-content: space-around;
	/*padding: 10px 0;*/
	height: 39px;
	align-items: center;
	font-family:sans-serif;
	font-size: 120%;
}

nav ul{
	display: flex;
	list-style: none;
	width: 40%;
	justify-content:space-evenly;
}

nav ul li a{
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}

nav ul li a:hover{
	color: rgb(82, 82, 82);
}

/* Burger Menu */
.menu-toggle{
	display: none;
	flex-direction: column;
	height: 16px;
	justify-content: space-between;
	position: relative;
}

.menu-toggle input{
	position: absolute;
	width: 40px;
	height:24px;
	left: -8px;
	top: -3px;
	opacity: 0;
	cursor: pointer;
	z-index: 2;

}

.menu-toggle span{
	display:block;
	width:24px;
	height:3px;
	background-color: black;
	border-radius: 40px;
	transition: all 1s;
}

div.PlaceHolder{
	position: absolute;
	font-size: 60px;
	right: 475px;
	top: 215px;
	border-style:solid;
	border-width: 6px;
	padding: 13px;
}
/* Burger Animation */
.menu-toggle span:nth-child(2){
	transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
	transform-origin: 0 100%;
}


.menu-toggle input:checked ~ span:nth-child(2){
	background-color: rgb(0, 0, 0);
	transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
	background-color: rgb(0, 0, 0);
	transform: rotate(-45deg) translate(-1px,0px);
}

.menu-toggle input:checked ~ span:nth-child(3){
	opacity: 0;
	transform: scale(0);
}



/* Responsive Breakpoint */

/* Ukuran tablet */

@media screen and (max-width: 800px) {
	nav ul {
		width:70%;
	}
}


/* Ukuran HP */
@media screen and (max-width:480px) {
	.menu-toggle{
		display: flex;
	}
	nav ul{
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		height: 100vh;
		justify-content: space-evenly;
		flex-direction:column;
		align-items: center;
		background-color: rgb(255, 255, 255);
		z-index: 1;
		transform: right(-100);
		transition: all 0.5s;
		opacity: 0;
	
	}

	nav ul.slide{
		opacity: 1;
		transform: right(100);
	}
}

h4 a{
	color: black;
	text-decoration: none;
}

h4 a:hover{
	color:rgb(163, 163, 163);
}




/* Image */

.wrapper{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 30vw );
	grid-gap: 8px;
	padding-left: 6px;
	padding-right: 6px;
}

.foto{
	width: 100%;
	height: 98%;
	object-fit:cover;
	border-radius: 2px;
}

 h1{
	font-family: times;
	line-height: 1.5;
	font-size: 210%;
	display:flex;
	margin-right: auto;
	margin-left: auto;
	color: black;
	margin-bottom: 5vh;
	padding: 7px;		
}

a{
	text-decoration: none;
	color: black;
}
