body {
	height: 400vh;
}

::-webkit-scrollbar{
	width: 15px;

}

::-webkit-scrollbar-track{
	background: #dddddd
}

::-webkit-scrollbar-thumb{
	background: rgb(128, 0, 0)
}

body {
	font-family: 'Source Code Pro', monospace;
}

.container{
	border: 5px solid black;
	display: flex;
	justify-content: flex-end;
}

.container>div{
	align-items: center;
	padding: 10px;
     display: flex;
	 justify-content:flex-end
}
 
h3{
	display: flex;
	letter-spacing: 2px;
	width: 820px;
}